<html>
<head>
    <title>Search</title>
</head>
<body>{{session_item}}<br>
    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
	login
	 <form action="/login/" method="get">
        <input type="text" name="username"><br>
		<input type="text" name="password"><br>
        <input type="submit" value="Search">
    </form>
	insert
	 <form action="/addOne/" method="get">
        <input type="text" name="username"><br>
		<input type="text" name="password"><br>
        <input type="submit" value="sign up">
    </form>
	update
	 <form action="/updateOne/" method="get">
		<input type="text" name="username"><br>	 
		<input type="text" name="password"><br>
        <input type="submit" value="update up">
    </form>	
	delete
	 <form action="/刪除/" method="get">
		<input type="text" name="username"><br>
        <input type="submit" value="delete">
    </form>
</body>
</html>